name: AWS Deploy

on:
  push:
    branches:
      - main # or any branch you want to trigger the workflow on

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/income-app:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-southeast-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Terraform Init
        working-directory: terraform
        run: terraform init

      - name: Terraform Apply
        working-directory: terraform
        run: terraform apply -auto-approve

      - name: Read Instance ID
        working-directory: terraform
        run: |
          echo "INSTANCE_ID=$(terraform output -raw instance_id)" >> $GITHUB_ENV

      # Deploy via SSM
      - name: Deploy container via SSM
        shell: bash
        run: |
          set -e

          # Waiting for the instance to be online
          echo "Waiting for instance to be ready in SSM..."
          while true; do
            SSM_STATUS=$(aws ssm describe-instance-information \
              --query "InstanceInformationList[?InstanceId=='$INSTANCE_ID'].PingStatus" \
              --output text)

            if [[ "$SSM_STATUS" == "Online" ]]; then
              echo "Instance is online in SSM"
              break
            fi

            echo "SSM not ready yet. Current status: ${SSM_STATUS:-NotRegistered}"
            sleep 10
          done

          COMMAND_ID=$(aws ssm send-command \
            --instance-ids "$INSTANCE_ID" \
            --document-name "AWS-RunShellScript" \
            --comment "Deploy Docker container" \
            --parameters "commands=[
              \"echo Waiting for Docker...\",
              \"until command -v docker >/dev/null 2>&1; do sleep 5; done\",
              \"until systemctl is-active docker >/dev/null 2>&1; do sleep 5; done\",
              \"echo Docker is ready!\",
              \"docker pull ${{ secrets.DOCKERHUB_USERNAME }}/income-app:latest\",
              \"docker stop app || true\",
              \"docker rm app || true\",
              \"docker run -d -p 80:8501 --name app ${{ secrets.DOCKERHUB_USERNAME }}/income-app:latest\"
            ]" \
            --query "Command.CommandId" \
            --output text)

          echo "SSM Command ID: $COMMAND_ID"

          # Wait for command to finish
          STATUS="Pending"
          while [[ "$STATUS" == "Pending" || "$STATUS" == "InProgress" ]]; do
            sleep 5
            STATUS=$(aws ssm get-command-invocation \
              --command-id "$COMMAND_ID" \
              --instance-id "$INSTANCE_ID" \
              --query "Status" \
              --output text)
            echo "Current status: $STATUS"
          done

          if [[ "$STATUS" != "Success" ]]; then
            echo "SSM command failed"
            aws ssm get-command-invocation \
              --command-id "$COMMAND_ID" \
              --instance-id "$INSTANCE_ID"
            exit 1
          fi
          echo "Deployment succeeded"
