name: AWS Deploy

on:
  push:
    branches:
      - main # or any branch you want to trigger the workflow on

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/income-app:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-southeast-2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        working-directory: terraform
        run: terraform init

      - name: Terraform Apply
        working-directory: terraform
        run: terraform apply -auto-approve

      - name: Read Instance ID
        working-directory: terraform
        run: |
          echo "INSTANCE_ID=$(terraform output -raw instance_id)" >> $GITHUB_ENV

      # --------------------
      # Deploy via SSM
      # --------------------
      - name: Deploy container via SSM
        run: |
          aws ssm send-command \
            --instance-ids "$INSTANCE_ID" \
            --document-name "AWS-RunShellScript" \
            --parameters 'commands=[
              "docker pull ${{ secrets.DOCKERHUB_USERNAME }}/my-app:latest",
              "docker stop app || true",
              "docker rm app || true",
              "docker run -d -p 80:80 --name app ${{ secrets.DOCKERHUB_USERNAME }}/my-app:latest"
            ]'

  # deploy:
  #   runs-on: ubuntu-latest
  #   needs: build
  #
  #   steps:
  #     - name: SSH to EC2 and Deploy Container
  #       uses: appleboy/ssh-action@v0.1.6
  #       with:
  #         host: ${{ secrets.EC2_HOST }}
  #         username: ${{ secrets.EC2_USER }}
  #         key: ${{ secrets.EC2_SSH_KEY }}
  #         script: |
  #           docker pull alphire/income-app:latest
  #           docker stop app || true
  #           docker rm app || true
  #           docker run -d -p 8501:8501 --name app alphire/income-app:latest
